@import "../../../variables.scss";

@mixin base-button--white() {
  color: $dark;
  background-color: $white;
  &:hover {
    color: $white;
    background-color: $dark;
  }
}

@mixin base-button--black() {
  color: $white;
  background-color: $dark;
  &:hover {
    color: $dark;
    background-color: $white;
  }
}

@mixin base-button() {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid $button;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &.btn--primary {
    @include base-button--black();
    width: 240px;
  }
  &.btn--secondary {
    @include base-button--white();
    width: 240px;
  }
  &.btn--white {
    @include base-button--white();
  }
  &.btn--black {
    @include base-button--black();
  }
  &.btn--unclickable {
    pointer-events: none;
  }
  &.btn--disabled {
    opacity: 0.35;
    cursor: not-allowed;
    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }
  &.btn--borderless {
    border: none;
    border-radius: 0;
    margin: 0;
  }
  &.right {
    margin-left: auto;
  }
  &.btn--inline {
    display: inline;
  }
}
