@mixin view-page() {
  font: 600 1em/1.2 $base-font-family;
  &--content {
    &--title {
      text-align: center;
      font-size: 2em;
      h1 {
        margin-bottom: 0;
      }
    }
    &--form {
      position: relative;
      &--image {
        width: 300px;
        position: absolute;
        // right: 270px;
        right: 14%;
        // bottom: 450px;
        bottom: 0;
        z-index: -1000;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        img {
          width: 100%;
        }
        @media (max-width: 991px) {
          display: none;
        }
        &.login {
          background-image: image-url('login_img.svg');
        }
        &.signup {
          left: 19%;
          width: 200px;
          bottom: 12%;
          background-image: image-url('signup_img.svg');
        }
        &.test {
          background-image: image-url('test_img.svg');
        }
        &.member {
          background-image: image-url('member_img.svg');
        }
        &.member-test {
          background-image: image-url('member_test_img.svg');
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      li {
        list-style-type: none;
      }
      fieldset {
        padding: 0 0 36px !important;
        width: 500px;
        @media (max-width: 575px) {
          width: 400px;
        }
        li {
          display: flex;
          flex-direction: column;
          margin: 0 !important;
          padding: 0 !important;
          label {
            margin: 13px 0 13px 30px !important;
            width: 100% !important;
            abbr {
              text-decoration: none;
            }
          }
          input, select {
            margin: 0 auto;
            padding: 10px 0 10px 35px !important;
            border: 1px solid $border-line;
            border-radius: 9px;
            width: 100% !important;
            outline: none;
            box-sizing: border-box;
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active {
              box-shadow: 0 0 0 30px white inset !important;
            }
            &::placeholder {
              color: #cacbcc;
              line-height: 44px;
              font-family: Inter;
              font-weight: normal;
            }
          }
        }
      }
    }
    // &--box {
    //   display: flex;
    //   justify-content: flex-end;
    //   &--image {
    //     width: 300px;
    //     img {
    //       width: 100%;
    //     }
    //   }
    // }
  }
}
