@import "../../../variables";
@import "./input";
@import "./checkBox";

@mixin view-page() {
  font: normal 1em/1.2 $base-font-family;
  padding: 0 16%;
  &--content {
    position: relative;
    padding: 30px 0;
    &--title {
      text-align: center;
      font-size: 2em;
      h1 {
        margin-bottom: 0;
      }
    }
    &--form {
      position: relative;
      &--image {
        width: 300px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1000;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        @media (max-width: 991px) {
          display: none;
        }
        &.sign-in-img {
          background-image: image-url('login_img.svg');
        }
        &.sign-up-img {
          left: 0;
          bottom: 0;
          background-position: bottom left;
          background-image: image-url('signup_img.svg');
        }
        &.test-img {
          background-image: image-url('test_img.svg');
        }
        &.member-img {
          background-image: image-url('member_img.svg');
        }
        &.member-test-img {
          background-image: image-url('member_test_img.svg');
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      li {
        list-style-type: none;
      }
      fieldset {
        padding: 0 0 18px !important;
        width: 500px;
        @media (max-width: 575px) {
          width: 400px;
        }
        textarea {
          margin: 0 auto;
          padding: 10px 0 10px 35px !important;
          border: 1px solid $border-line;
          border-radius: 9px;
          width: 100% !important;
          min-height: 100px;
          box-sizing: border-box;
          font-weight: normal;
          &::placeholder {
            color: #cacbcc;
            font-family: $base-font-family;
            font-weight: normal;
          }
          &:focus {
            outline: none;
          }
        }
        li {
          display: flex;
          flex-direction: column;
          position: relative;
          margin: 0 !important;
          padding: 0 !important;
          label {
            margin: 13px 0 13px 30px !important;
            width: 100% !important;
            abbr {
              text-decoration: none;
            }
          }
          input, select {
            @include input();
          }
          input[type=checkbox] {
            @include check-box();
          }
          &.select.input::after {
            content: '';
            position: absolute;
            height: 40px;
            width: 12%;
            right: 0;
            bottom: 0;
            border-left: 1px solid rgba(42, 45, 51, 0.5);;
            background-image: image-url('arrows.svg');
            background-repeat: no-repeat;
            background-size: 20px;
            background-size: 0.8em;
            background-position: center;
            z-index: 10;
            pointer-events: none;
          }
        }
      }
    }
  }
}
