<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @member_test.created_at %>
</p>

<%= link_to 'Edit', edit_member_test_path(@member_test) %> |
<%= link_to 'Back', member_tests_path %>
