@import "bootstrap-sprockets";
@import "bootstrap";
@import "formtastic";
@import "formtastic-bootstrap";

.formtastic {
  text-align: center;

  label {
    color: black !important;
  }
  .actions {
    padding-left: 20px;
  }

  .inputs {
    .input {
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      resize: none;
    }
    .string,
    .email,
    .password,
    .select,
    textarea,
    .number {
      width: 600px;

      .form-control {
        width: 100%;
      }
    }
  }
}

.btn {
  padding: 5px 10px !important;
  margin-right: 5px !important;

  &.btn-primary {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    &:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
  }

  &.btn-secondaty {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
      color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
  }
}

.table-container {
  padding: 0 200px;
}
.table-actions {
  a {
    padding: 0 5px;
  }
}

.show-page {
  padding: 30px 200px;
}

.right {
  float: right;
}

.form {
  h1 {
    text-align: center;
  }
}

.answer-form {
  padding-top: 10px;
  width: 50%;
  display: inline-block;
}
.pass-question-container {
  padding: 10px;
  width: 800px;
  border: 1px solid #9c9a9a;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  background-color: #f1f1f1;
  .pass-question {
    padding: 10px;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    background-color: white;
  }
}

.question-container {
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #9c9a9a;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: justify;

  a {
    margin-right: 5px;
  }

  .question {
    font-weight: 500;
    margin-top: 10px;
  }
  .answer-container {
    margin-top: 15px;
    display: flex;
    .answer {
      border-radius: 10px;
      border: 1px solid #9c9a9a;
      display: inline-block;
      margin-right: 5px;
      padding: 10px;
      flex: 1;
      background-color: white;

      &.right {
        background-color: #e7ffe7;
      }

      &.not-right {
        background-color: #ff000029;
      }
    }
  }
}
