@import "navbar";
@import "login";
@import "signup";
@import "formtastic";
@import "footer";
@import "hamburgers-settings";
@import "hamburgers";
@import "table";
@import "form";
@import "questions";
@import "./variables.scss";

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  color: $dark;
  font-family: $base-font-family;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -280px
}
.push {
  height: 280px;
}