@import "./variables.scss";

.footer {
  // position: sticky;
  // bottom: 0;
  width: 100%;
  font: 600 1em/1.2 $base-font-family;

  &--border--container {
    margin-bottom: 10px;
    padding: 0 80px;
    &--line {
      border-top: 1px solid $border-line;
    }
  }
  &--content {
    background-color: $black;
    color: $white;
    align-items: center;

    &--title {
      padding: 50px 0;
      text-align: center;
    }
    &--social-icons {
      display: flex;
      justify-content: center;
      padding: 0 0 3%;
      .img-icon {
        margin: 0 20px;

        &.upwork {
          width: 35px;
          margin-top: -4px;
        }
        &.facebook {
          width: 25px;
        }
        &.instagram {
          width: 30px;
          margin-top: -4px;
        }
      }
    }
  }
}
