@import "./variables.scss";

.footer {
  width: 100%;
  font: 600 1em/1.2 $base-font-family;

  &--border--container {
    margin-bottom: 50px;
    padding: 0 80px;
    &--line {
      border-top: 1px solid $border-line;
    }
  }
  &--content {
    background-color: $dark;
    color: $white;
    align-items: center;

    &--title {
      padding: 50px 0;
      text-align: center;
    }
    &--social-icons {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 0 80px;
      .footer-link {
        display: flex;
        align-items: flex-end;
      }
      .img-icon {
        margin: 0 20px;
        height: 30px;
      }
    }
    @media (max-width: 575px) {
      padding: 0 20px;
      &--social-icons {
        flex-wrap: wrap;
        .img-icon {
          margin-bottom: 10px;
        }
      }
    }
  }
}
