@import "./variables.scss";
@import "./style/mixins/theme/viewPage";
@import "./style/mixins/theme/_buttons";
@import "./style/mixins/theme/input";

.new-form, .pass-form  {
  @include view-page();
  .btn {
    @include base-button();
  }
  .actions {
    padding: 0;
    ol {
      display: flex;
      justify-content: space-between;
    }
  }
  .actions {
    margin: 22px 0 64px 0;
  }
  li.select {
    display: flex;
    align-items: baseline;
    font-weight: 600;
    select {
      @include input();
    }
  }
}
.pass-form {
  margin-top: 35px;
  &--content {
    &--title {
      h2 {
        font-weight: 500;
        font-size: 28px;
      }
      h1 {
        font-weight: 600;
        font-size: 32px;
      }
      * {
        margin: 0;
      }
    }
    &--form {
      .pass-question {
        margin-top: 40px;
        white-space: pre-wrap;
        &--container {
          padding: 0 64px;
        }
        .input {
          margin-top: 20px;
          margin-bottom: 0;
        }
        &--label {
          text-align: center;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .bottom-pad {
          border: 1px solid rgba(42, 45, 51, 0.5);
          border-top: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          height: 40px;
        }
      }
      .caption {
        text-align: center;
        padding: 64px 0;
      }
    }
  }
}
