.pdf {
  &--header {
    font-size: 26px;
    font-weight: bold;
  }
  &--body {
    margin-top: 20px;
    font-size: 15px;
    .question {
      padding: 20px 0;
      &--text {
      }

      .answers {
        margin-top: 15px;
        padding-left: 15px;
        .answer {
          display: flex;
          &--label {
            width: 30px;
          }
          &--text {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
