@import "./variables.scss";
@import "./style/mixins/theme/viewPage";
@import "./style/mixins/theme/_buttons";
@import "./variables.scss";
.show-page {
  position: relative;
  font-weight: 400;
  #notice {
    text-align: center;
  }
}
.show, .edit-question {
  @include view-page();
  .btn {
    @include base-button();
    &#edit-btn {
      position: absolute;
      top: 0px;
      right: 14%;
      width: 100px;
    }
  }
  &--content {
    position: unset;
    padding-top: 40px;
    > .actions {
      margin: 60px 0;
      display: flex;
      justify-content: space-evenly;
      @media (max-width: 1140px) {
        margin: 24px 0;
        flex-direction: column;
        .btn {
          width: 100%;
          margin: 6px 0;
        }
      }
    }
  }
  &--content--title {
    h1 {
      @media (min-width: 1500px) {
        width: 50%;
      }
      margin: 0 auto;
    }
    p {
      margin: 0;
    }
  }
  .success_pass {
    background-image: image-url('success_img.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 20px;
    margin: 20px;
  }
  .failed_pass {
    background-image: image-url('failed_img.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 20px;
    margin: 20px;
  }

  form.question {
    margin-bottom: 60px;
    padding-left: 20px;
  }
  .inputs {
    overflow: visible;
    width: 100%;
    legend span {
      display: block;
      font-size: 1.17em;
      font-weight: bold;
    }
  }
  .answer-form {
    display: flex;
    margin: 32px 0;
    .column {
      padding: 5px;
      width: 70px;
      height: 90px;
    }
    li {
      overflow: visible;
      label {
        margin: 0 !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        input {
          margin: 8px 0;
        }
      }
    }
  }
  .one .actions {
    width: auto;
  }
  .actions {
    align-self: start;
  }
  .actions ol {
    display: flex;
    justify-content: space-between;
  }
}
.questions {
  margin-bottom: 60px;
  &--header {
    background-color: $dark;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 0;
      font-size: 24px;
      color: white;
      text-align: center;
    }
  }
  &--content {
    padding: 0 75px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border: 1px solid rgba(42, 45, 51, 0.5);
    .question-container {
      padding: 24px 0;
      border-bottom: 1px solid $border-line;
      display: flex;
      .question--label {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        img {
          width: 2em;
          filter: invert(1);
        }
      }
      .padding {
        width: 100%;
        padding-right: 10px;
        .question, .text {
          font-weight: 500;
          white-space: pre-wrap;
        }
        .question {
          margin-bottom: 30px;
        }
        .answer-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .answer {
            flex: 1 1 0;
            margin: 0 5px;
            display: flex;
            border: 1px solid rgba(42, 45, 51, 0.5);
            border-radius: 9px;
            padding: 8px;
            box-sizing: border-box;
            &--label {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-right: 5px;
              img {
                width: 1em;
                margin-bottom: 8px;
              }
            }
            &.right {
              background-color: $dark;
              color: white;
              border: 4px solid #00B993;
            }
            &.not-right {
              background-color: $dark;
              color: white;
              border: 4px solid #E87171;
            }
          }
        }
      }
      .question-actions {
        display: flex;
        justify-content: flex-end;
        .btn {
          width: 100px;
          margin-left: 30px;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
  @media (max-width: 1140px) {
    .questions {
      &--content {
        padding: 0 16px;
        .answer-container {
          flex-wrap: wrap;
          .answer {
            min-width: 40%;
            margin: 5px 5px !important;
          }
        }
      }
    }
  }
}

.action {
  &--section {
    margin: 30px 0;
  }
  &--line {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}