@import "./style/mixins/theme/buttons";
@import "./style/mixins/theme/link";

.table {
  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 14%;
    padding-bottom: 30px;
    @media (max-width: 1140px) {
      padding: 0 7%;
    }
    .vertical-divider {
      display: inline-block;
      width: 1px;
      height: auto;
      background-color: black;
    }
    #notice {
      width: 100%;
      color: #43A047;
    }
    h1 {
      font-size: 60px;
      margin: 15px 0;
    }
    .link {
      @include link();
    }
    .btn {
      @include base-button();
      margin-left: 5px;
    }
  }
  &-title-container {
    width: 100%;
  }
  &-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-filters {
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid #2a2d33;
    overflow: hidden;
  }
  &-outer {
    width: 100%;
    @media (max-width: 1140px) {
      overflow-x: scroll;
      .table {
        min-width: 800px;
      }
    }
    .table {
      width: 100%;
      border-spacing: 0px;
      td, th {
        height: 50px;
        text-align: left;
      }
      tr .btn {
        text-transform: lowercase;
        padding: 5px 15px;
      }
      td {
        padding: 5px;
        border-top: 1px solid rgba(42, 45, 51, 0.25);
      }

      &.table-matrix {
        border-collapse: collapse;
        & th, td {
          text-align: center;
          border: 1px solid darkgray;
        }
        & th {
          background: #D9D9D9;
        }
        & td {
          height: 300px;
        }
        .test--started {
          background: yellow;
        }
         .test--passed {
          background: #52DAB7;
        }
      }

      // column size adjustmnets for different pages
      &.table--test th {
        width: 15%;
        &:last-child {
          width: auto;
        }
      }
      &.table--tests th {
        width: calc(100%/9);
      }
      &.table--test-groups th:last-child {
        width: 15%;
      }
      &.table--member-tests th {
        &:first-child {
          width: 90px;
        }
        width: calc(100%/5)
      }
      &.table--members th {
        width: calc(100%/6)
      }
      &.table-memeber th {
        width: calc(100%/4);
      }
     
    }
  }
}