@import "./style/mixins/theme/buttons";
@import "./style/mixins/theme/link";

.link {
  @include link();
  &--white {
    color: white;
  }
}
.btn {
  @include base-button();
  margin-left: 5px;
}

.table {
  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 14%;
    padding-bottom: 30px;
    @media (max-width: 1140px) {
      padding: 0 7%;
    }
    .vertical-divider {
      display: inline-block;
      width: 1px;
      height: auto;
      background-color: black;
    }
    #notice {
      width: 100%;
      color: #43A047;
    }
    h1 {
      font-size: 60px;
      margin: 15px 0;
    }
    
  }
  &-title-container {
    width: 100%;
  }
  &-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-filters {
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid #2a2d33;
    overflow: hidden;
  }
  &-outer {
    width: 100%;
    @media (max-width: 1140px) {
      overflow-x: scroll;
      .table {
        min-width: 800px;
      }
    }
    .table {
      width: 100%;
      border-spacing: 0px;
      td, th {
        height: 50px;
        text-align: left;
      }
      tr .btn {
        text-transform: lowercase;
        padding: 5px 15px;
      }
      td {
        padding: 5px;
        border-top: 1px solid rgba(42, 45, 51, 0.25);
      }

      &.table--matrix {
        table-layout: fixed;
        font-size: 15px;
        border-collapse: collapse;
        & th, td {
          text-align: center;
          border: 1px solid rgba(42, 45, 51, 0.25);
        }
        & th {
          border: none;
        }
        & td {
          height: 300px;
        }
        & tr > td:first-child {
          font-size: 18px;
          font-weight: 700;
        }
        .test {
          position: relative;
          &:hover {
            .close-triangle { // a hacky way to do css triangle
              visibility: visible;
              left: 0;
              top: 0;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 40px 40px 0 0;
              border-color: lightgrey transparent transparent transparent;
            }
            .close-icon {
              visibility: visible;
              top: 4px;
              left: 3px;
              width: 18px;
              height: 18px;
            }
            .close-link {
              visibility: visible;
              display: inline-block;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              z-index: 2;
            }
          }
        }
        .test--started {
          background: yellow;
        }
        .test--passed {
          background-color: #2A2D33;
          color: white;
        }
        .test-title {
          font-size: 20px;
          font-weight: 600;
        }
        .test-subtitle {
          font-size: 18px;
        }
        .pass-triangle {
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
        }
         .close-triangle {
           position: absolute;
           visibility: hidden;
         }
         .close-icon {
           position: absolute;
           visibility: hidden;
         }
         .close-link {
           position: absolute;
           visibility: hidden;
         }
      }

      // column size adjustmnets for different pages
      &.table--test {
        table-layout: fixed;
        & th {
          width: calc(100% / 6);
        }
      }
      &.table--tests th {
        width: calc(100%/9);
      }
      &.table--test-groups th:last-child {
        width: 15%;
      }
      &.table--test-group th {
        width: calc(100%/5);
      }
      &.table--member-tests th {
        width: calc(100%/5);
      }
      &.table--members th {
        width: calc(100%/8);
        &:last-child {
          width: auto;
        }
      }
      &.table-member-group {
        table-layout: fixed;
      }
    }
  }
}